<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <title>GamePlay - Home</title>
</head>

<body>
    <header>
    <%- include('./partials/header', {usuario}) %>
    <%- include('./partials/header_slider') %>
    </header>
    <section class="main">
        <h4 class="titulo">OFERTAS DE LA SEMANA</h4>
        <section class="productos">
        <% for (let product of offers){ %>
            <%- include ('./partials/producto',{product}) %>
        <% } %> 
        </section>

        <h4 class="titulo">PRODUCTOS MAS VENDIDOS</h4>
        <section class="productos">

        <% for (let product of bestSellers){ %>
            <%- include ('./partials/producto',{product}) %>
        <% } %> 
        
        </section>
    </section>

    <%- include ('./partials/footer') %>
</body>

</html>