<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/all_head.ejs')%>
    <link rel="stylesheet" href="/css/login.css">
    <title>GamePlay - Iniciar Sesion</title>
</head>

<body>
    <header>
        <%- include('../partials/all_header.ejs',{usuario}) %>
    </header>
            <!-- Breadcrumb Start -->
            <main class="product-detail">
                <div class="breadcrumb">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="level-01" href="/">Inicio > </a>
                        <a class="level-02" href="/">GamePlayers > </a>
                        <span class="active">Iniciar Sesión</span>
                    </nav>
                </div>
            <!-- Breadcrumb End -->

        <h3 class="titulologin">INICIAR SESIÓN</h3>
        <div class="contenedor-login">
            <div class="social-login">
                <button class="facebookbutton">
                    <span class="facebook"><i class="fa-brands fa-facebook-square"></i></span>
                    <span class="textofacebook">Ingresá con Facebook</span>
                </button>
                <button class="applebutton">
                    <span class="apple"><i class="fa-brands fa-apple"></i></span>
                    <span class="textoapple">Ingresá con Apple ID</span>
                </button>
                <button class="gmailbutton">
                    <span class="gmail">
                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <title>Gmail icon</title>
                        <path d="M24 4.5v15c0 .85-.65 1.5-1.5 1.5H21V7.387l-9 6.463-9-6.463V21H1.5C.649 
                        21 0 20.35 0 19.5v-15c0-.425.162-.8.431-1.068C.7 3.16 1.076 3 1.5 3H2l10 7.25L22 
                            3h.5c.425 0 .8.162 1.069.432.27.268.431.643.431 1.068z"/></svg>
                        </span>
                    <span class="textogmail">Ingresá con Gmail</span>
                </button>
            </div><br>
            <p> O sino<br>
                Ingresá tu usuario y contraseña</p>
            <% if( errorInicioSesion === true ) {%> 
                <p class="error">Ingresaste mal el usuario o contraseña</p>
            <% } %> 
            <section class="formulario">
                <form class="registro" action="/usuarios/inicioSesion" method="POST">
                    <div>
                        <label for="usuario" class="feedback"></label>
                        <input type="text" class="text" name="user" id="user" placeholder="Nombre de usuario" >
                        <div class="danger">  <% if (locals.errors && errors.user) { %>
                            <%= errors.user.msg %>
                        <% } %> </div> <small class="invalid" id="errorUser" ></small>
                    </div>
                    <div>
                        <label for="contrasenia" class="feedback"></label>
                        <input type="password" class="text" name="password" id="password" placeholder="Contraseña" >
                            <div class="danger">  <% if (locals.errors && errors.password) { %>
                                <%= errors.password.msg %>
                            <% } %> <small class="invalid" id="errorPassword" ></small> </div> 
                    </div>
                    <a href="#" class="olvide">Olvidé mi contraseña</a>
                    <div>
                        <input type="checkbox" name="rememberPassword" id="rememberPassword"> 
                        <label for="rememberPassword" class="feedback">Quiero recordar mi usuario y contraseña</label>
                    </div>
                    <button type="submit" name ="ingreso" class="ingresobutton">INGRESAR</button>
                    <p>Nuevo Gameplayer? <b><s><a href="/usuarios/registro"class="registro">Registrate Ahora</a></s></b></p>
                    
                </form>
            </section>
        </div>
    </main>

    <%- include ('../partials/all_footer.ejs') %>
    <script src="/js/userLoginValidations.js"></script>
</body>

</html>