<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <title>GamePlay - Productos</title>
</head>

<body>
    <header>
    <%- include('../partials/header') %>
    <!-- <%- include('../partials/header_slider') %> -->
    </header>
    <section class="main">
        <h4 class="titulo">RESULTADOS DE BÚSQUEDA</h4>
        <section class="productos">
            <% if (searchResults.length > 0){ %>
                <% for (let producto of searchResults){ %>
                <%- include ('../partials/producto',{producto}) %>
        <% } %> 
        <% } else {%>	
			<div class="col-12">
				<h2 class="products-title" style="color: #b1262f;">No hay productos que coincidan con esa búsqueda</h2>
			</div>
		<% } %>
        </section>
    </section>

    <%- include ('../partials/footer') %>
</body>

</html>