

                    <div class="categoria"> 
                        <label for="sku" class="datos">SKU</label>
                        <input type="text" name="sku" id="sku" 
                        value="<%=product.sku%>" required>
                        <!--<div class="danger"> <% if (locals.errors && errors.sku) { %>
                            <%= errors.sku.msg %>
                        <% } %> </div>-->
                    </div>

                    <div class="categoria"> 
                        <label for="titulo" class="datos">Título</label>
                        <input type="text" name="product_name" id="titulo" 
                        value="<%=product.product_name%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="descripcionCorta" class="datos">Descr. Corta</label>
                        <textarea type="textarea" name="short_description" id="descripcionCorta" required><%=product.short_description%></textarea>
                    </div>

                    <div class="categoria"> 
                        <label for="descripcionLarga" class="datos">Descr. Larga</label>
                        <textarea name="long_description" id="descripcionLarga" required><%=product.long_description%></textarea>
                    </div>

                    <div class="categoria"> 
                        <label for="precioRegular" class="datos">Precio normal</label>
                        <input type="number" min="1" step="any" name="regular_price" id="precioRegular" 
                        value="<%=product.regular_price%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="descuento" class="datos">Descuento</label>
                        <input type="number" min="1" step="any" name="discount" id="descuento" 
                        value="<%=product.discount%>">
                    </div>

                    <div class="categoria"> 
                        <label for="cuotas" class="datos">Cuotas</label>
                        <input type="number" min="1" step="any" name="fee_q" id="cantidadCuotas" 
                        value="<%=product.fee_q%>">
                    </div>

                    <div class="categoria"> 
                        <label for="etiquetas" class="datos">Etiquetas</label>
                        <input type="textarea" name="tags" id="etiquetas" 
                        value="<%=product.tags%>">
                    </div>
                    
                    <div class="categoria">
                        <input type="radio" name="is_physical" id="esFisico" value="true" 
                        <%if(product.is_physical === 1){%><%= checked="checked" %><%}%> required>
                        <label for="esFisico">Fisico</label>
                    </div>
                    
                    <div class="categoria">
                        
                        <input type="radio" name="is_physical" id="esDigital" value="false" 
                        <%if(product.is_physical === 0){%><%= checked="checked" %><%}%>>
                        <label for="esDigital">Digital</label>
                        
                    </div>
                                            <!-- Div abajo de los datos -->
                    <section class="perfilusuario">
                        
                        <div class="intereses">
                            <h4>Categorías</h4>
                            <% for (let category of categories){%> 
                            <div>
                                <input type="checkbox" name="categories" value="<%= category.id %>" id="<%= category.name %>"
                                <%if (product.categories.includes(category.id) ){%>
                                    <%= checked="checked" %><%}%> >
                                <label for="<%= category.name %>"><%= category.name %> </label>
                            </div>
                            <%}%>                          
                        </div>
                    </section>

                    <div class="contenedor-fotoproducto">
                        <h4>Foto de producto</h4><br>
                        <% if (product.id==='') {%>
                            <%-include ('../partials/form_image_create.ejs', {product:null}) %> 
                        <%}else{%>
                            <%-include ('../partials/form_image_edit.ejs', {product:product}) %>
                        <%}%>
                        <input type="file" accept=".jpg, .png" id="fotoPerfil" name="image_url">
                    </div>
                    <br>