
                    <div class="categoria"> 
                        <label for="sku" class="datos">SKU</label>
                        <input type="text" name="sku" id="sku" 
                        value="<%=producto.sku%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="titulo" class="datos">Título</label>
                        <input type="text" name="titulo" id="titulo" 
                        value="<%=producto.titulo%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="descripcionCorta" class="datos">Descr. Corta</label>
                        <textarea type="textarea" name="descripcionCorta" id="descripcionCorta" required><%=producto.descripcionCorta%></textarea>
                    </div>

                    <div class="categoria"> 
                        <label for="descripcionLarga" class="datos">Descr. Larga</label>
                        <textarea name="descripcionLarga" id="descripcionLarga" required><%=producto.descripcionLarga%></textarea>
                    </div>

                    <div class="categoria"> 
                        <label for="precioRegular" class="datos">Precio normal</label>
                        <input type="number" min="1" step="any" name="precioRegular" id="precioRegular" 
                        value="<%=producto.precioRegular%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="descuento" class="datos">Descuento</label>
                        <input type="number" min="1" step="any" name="descuento" id="descuento" 
                        value="<%=producto.descuento%>">
                    </div>

                    <div class="categoria"> 
                        <label for="cuotas" class="datos">Cuotas</label>
                        <input type="number" min="1" step="any" name="cantidadCuotas" id="cantidadCuotas" 
                        value="<%=producto.cantidadCuotas%>">
                    </div>

                    <div class="categoria"> 
                        <label for="etiquetas" class="datos">Etiquetas</label>
                        <input type="textarea" name="etiquetas" id="etiquetas" 
                        value="<%=producto.etiquetas%>">
                    </div>
                    
                    <div class="categoria">
                        <input type="radio" name="esFisico" id="esFisico" value="true" 
                        <%if(producto.esFisico === true){%><%= checked="checked" %><%}%> >
                        <label for="esFisico">Fisico</label>
                    </div>
                    
                    <div class="categoria">
                        
                        <input type="radio" name="esFisico" id="esDigital" value="false" 
                        <%if(producto.esFisico === false){%><%= checked="checked" %><%}%>>
                        <label for="esDigital">Digital</label>
                        
                    </div>
                                            <!-- Div abajo de los datos -->
                    <section class="perfilusuario">
                        
                        <div class="intereses">
                            <h4>Categorías</h4>
                            <% for (let categoria of categorias){%> 
                            <div>
                                <input type="checkbox" name="categories" value="<%= categoria %>" id="<%= categoria %>"
                                <%if (producto.categorias.includes(categoria) ){%>
                                    <%= checked="checked" %><%}%> >
                                <label for="<%= categoria %>"><%= categoria %> </label>
                            </div>
                            <%}%>                          
                        </div>
                    </section>

                    <div class="contenedor-fotoproducto">
                        <h4>Foto de producto</h4><br>
                        <% if (producto.id==='') {%>
                            <%-include ('../partials/form_image_create.ejs', {producto:null}) %> 
                        <%}else{%>
                            <%-include ('../partials/form_image_edit.ejs', {producto:producto}) %>
                        <%}%>
                        <input type="file" accept=".jpg, .png" id="fotoPerfil" name="urlImagen">
                    </div>
                    <br>