
                    <div class="categoria"> 
                        <label for="sku" class="datos">SKU</label>
                        <input type="text" name="sku" id="sku" value="<%if(producto===null){%><%=""%>
                            <%}else{%><%=producto.sku%><%}%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="titulo" class="datos">Título</label>
                        <input type="text" name="titulo" id="titulo" value="<%if(producto===null){%><%=""%>
                        <%}else{%><%=producto.titulo%><%}%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="descripcionCorta" class="datos">Descr. Corta</label>
                        <input type="textarea" name="descripcionCorta" id="descripcionCorta" value="<%if(producto===null){%><%=""%>
                            <%}else{%><%=producto.descripcionCorta%><%}%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="descripcionLarga" class="datos">Descr. Larga</label>
                        <input type="textarea" name="descripcionLarga" id="descripcionLarga" value="<%if(producto===null){%><%=""%>
                        <%}else{%><%=producto.descripcionLarga%><%}%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="precioRegular" class="datos">Precio normal</label>
                        <input type="number" min="1" step="any" name="precioRegular" id="precioRegular" value="<%if(producto===null){%><%=""%>
                        <%}else{%><%=producto.precioRegular%><%}%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="descuento" class="datos">Descuento</label>
                        <input type="number" min="1" step="any" name="descuento" id="descuento" value="<%if(producto===null){%><%=""%>
                        <%}else{%><%=producto.descuento%><%}%>" required>
                    </div>

                    <div class="categoria"> 
                        <label for="cuotas" class="datos">Cuotas</label>
                        <input type="number" min="1" step="any" name="cantidadCuotas" id="cantidadCuotas"  value="<%if(producto===null){%><%=""%>
                        <%}else{%><%=producto.cantidadCuotas%><%}%>" required>
                    </div>

                    <!-- <div class="categoria"> 
                        <label for="cuotas" class="datos">Cuotas</label>
                        <select name="cuotas" class="datos">
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="9">9</option>
                            <option value="12">12</option>
                        </select>
                    </div> -->

                    <div class="categoria"> 
                        <label for="etiquetas" class="datos">Etiquetas</label>
                        <input type="textarea" name="etiquetas" id="etiquetas" value="<%if(producto===null){%><%=""%>
                        <%}else{%><%=producto.etiquetas%><%}%>" >
                    </div>

                    <div class="categoria">
                        <!-- <div class="generos">
                            <label for="regular">Regular</label>
                            <input type="radio" name="atributo_precio" value="false" id="regular">
                        </div>

                    <div class="generos">
                        <label for="offer">En Oferta</label>
                        <input type="radio" name="atributo_precio" value="true" id="oferta">
                    </div> -->
                        <input type="checkbox" name="esOferta" id="esOferta" value="<%if(producto===null){%><%=""%>
                        <%}else{%><%=producto.esOferta%><%}%>">
                        <label for="a">Es una oferta</label>

                    
                    </div>

                    <div class="categoria">
                        <!-- <div class="generos">
                            <label for="fisico">Físico</label>
                            <input type="radio" name="atributo_estado" value="true" id="físico">
                        </div>
                        <div class="generos">
                            <label for="digital">Digital</label>
                            <input type="radio" name="atributo_estado" value="false" id="digital">
                        </div> -->
                        <input type="checkbox" name="esFisico" id="esFisico" value="<%if(producto===null){%><%=""%>
                        <%}else{%><%=producto.esFisico%><%}%>">
                        <label for="a">Esta en formato físico</label>
                        
                    </div>
                                            <!-- Div abajo de los datos -->
                    <section class="perfilusuario">
                        <div class="intereses">
                            <h4>Categorías</h4>
                            <div>
                                <input type="checkbox" name="categories" value="a" id="a">
                                <label for="a">Juegos Físicos</label>
                            </div>
                            <div>
                                <input type="checkbox" name="categories" value="b" id="b">
                                <label for="b">Juegos Digitales</label>
                            </div>
                            <div>
                                <input type="checkbox" name="categories" value="c" id="c">
                                <label for="c">Ofertas</label>
                            </div>
                            <div>
                                <input type="checkbox" name="categories" value="d" id="d">
                                <label for="d">PS4</label>
                            </div>
                            <div>
                                <input type="checkbox" name="categories" value="e" id="e">
                                <label for="e">PS5</label>
                            </div>
                            <div>
                                <input type="checkbox" name="categories" value="f" id="f">
                                <label for="f">Coleccionables</label>
                            </div>
                        </div>
                    </section>
                    <div class="contenedor-fotoproducto">
                        <h4>Foto de producto</h4><br>
                        <label for="fotoPerfil" class="fotoPerfil"><i class="fa fa-plus" aria-hidden="true"></i></label><br>
                        <input type="file" accept=".jpg, .png" id="fotoPerfil" name="Imagen">
                    <br>