<a href="/productos/<%= product.id %>"><article>
    <div>
        <img src="<%= product.image_url %>">
        <h5><%= product.product_name %></h5>
        <span><% for (let categorie of product.categories){ %>
            - <%= categorie.name %> -
        <% } %></span>

    </div>
    <div class="precios">
        <div>
            <% if (product.is_offer){ %>
                <span class="precio-viejo">$<%= product.regular_price.toLocaleString('es-Ar') %></span>
            <% } %> 
            <span class="precio-actual">$<%= (parseInt(product.regular_price * ( 1 - product.discount/100))).toLocaleString('es-Ar') %></span>
        </div>
        <% if (product.is_offer) { %>
            <span class="descuento"><%= product.discount %>% off</span>
        <% } %> 
    </div>
</article></a>