<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/register.css">
    
    <title>GamePlay - Registro</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
                <!-- Breadcrumb Start -->
                <main class="product-detail">
                    <div class="breadcrumb">
                        <nav class="breadcrumb bg-light mb-30">
                            <a class="level-01" href="/">Inicio > </a>
                            <a class="level-02" href="/">GamePlayers > </a>
                            <span class="active">Registrarse</span>
                        </nav>
                    </div>
                <!-- Breadcrumb End -->
                
        <h3 class="tituloregistro">REGISTRO</h3>
        <div class="contenedor-registro">
            <div class="social-registro">
                <button class="facebookbutton">
                    <span class="facebook"><i class="fa-brands fa-facebook-square"></i></span>
                    <span class="textofacebook">Registrate con Facebook</span>
                </button>
                <button class="applebutton">
                    <span class="apple"><i class="fa-brands fa-apple"></i></span>
                    <span class="textoapple">Registrate con Apple ID</span></button>
                    <button class="gmailbutton">
                        <span class="gmail"><svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>Gmail icon</title>
                            <path d="M24 4.5v15c0 .85-.65 1.5-1.5 1.5H21V7.387l-9 6.463-9-6.463V21H1.5C.649 
                        21 0 20.35 0 19.5v-15c0-.425.162-.8.431-1.068C.7 3.16 1.076 3 1.5 3H2l10 7.25L22 
                            3h.5c.425 0 .8.162 1.069.432.27.268.431.643.431 1.068z"/></svg></span>
                        <span class="textogmail">Registrate con Gmail</span>
                    </button>
            </div><br>
            <P> O sino<br>
                Por favor completá los datos en el siguiente formulario</P><br>
            <div class="form-registro">
                <form class="registro" action="/usuarios/registro" method="POST" enctype="multipart/form-data">
                    <div class="contenedor-fotoperfil">
                        <p>Foto de perfil</p><br>
                        <label for="urlImagen" class="fotoPerfil"><i class="fa fa-plus" aria-hidden="true"></i></label><br>
                        <input type="file" id="urlImagen" name="urlImagen">
                        <div class="danger">  <% if (locals.errors && errors.urlImagen) { %>
                            <%= errors.urlImagen.msg %>
                        <% } %> </div>
                    </div>
                    <div class="rowform">
                        <div class="colform">
                            <div class="categoria"> 
                                <label for="nombre" class="datos">Nombre</label>
                                <input type="text" name="nombre" id="nombre" placeholder=" Juan" value="<%= locals.oldData ? oldData.nombre : "" %>">
                                <div class="danger">  <% if (locals.errors && errors.nombre) { %>
                                    <%= errors.nombre.msg %>
                                <% } %> </div>
                            </div>
                            
                        </div>
                        <div class="colform">
                            <div class="categoria"> 
                                <label for="apellido" class="datos">Apellido</label>
                                <input type="text" name="apellido" id="apellido" placeholder=" Gameplayer" value="<%= locals.oldData ? oldData.apellido : "" %>">
                                <div class="danger">  <% if (locals.errors && errors.apellido) { %>
                                    <%= errors.apellido.msg %>
                                <% } %> </div>
                            </div>
                        </div>
                    </div>
                <div class="rowform">
                    <div class="colform">
                        <div class="categoria">
                            <label for="usuario" class="datos">Nombre de usuario</label>
                            <input type="text" name="usuario" id="user" placeholder=" Usuario" value="<%= locals.oldData ? oldData.usuario : "" %>" >
                            <div class="danger">  <% if (locals.errors && errors.usuario) { %>
                                <%= errors.usuario.msg %>
                            <% } %> </div>
                        </div>
                    </div>
                    <div class="colform">
                        <div class="categoria">
                            <div class="telefonos">
                                <span class = "telefonos">
                                    <label for="telefono_pais" class="datos">Telefono</label>
                                </span>
                                
                            </div>
                            <div class="telefonos">
                                <span>
                                    <input type="tel" name="telefono_pais" id="telefono_pais" placeholder=" +54" value="<%= locals.oldData ? oldData.telefono_pais : "" %>"></span>
                                    <div class="danger">  <% if (locals.errors && errors.telefono_pais) { %>
                                        <%= errors.telefono_pais.msg %>
                                    <% } %> </div>
                                <span> 
                                    <input type="tel" name="telefono" id="telefono" placeholder=" 1234 5678" value="<%= locals.oldData ? oldData.telefono : "" %>">
                                </span>
                                <div class="danger">  <% if (locals.errors && errors.telefono) { %>
                                    <%= errors.telefono.msg %>
                                <% } %> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rowform"> 
                    <div class="colform">   
                        <div class="categoria">
                            <label for="mail" class="datos">E-mail</label>
                            <input type="email" name="email" id="email" placeholder=" juan@gameplay.com" value="<%= locals.oldData ? oldData.email : "" %>">
                            <div class="danger">  <% if (locals.errors && errors.email) { %>
                                <%= errors.email.msg %>
                            <% } %> </div>
                        </div><br>
                    </div>
                    <div class="colform">                     
                        <div class="categoria">
                            <label for="nacimiento" class="datos">Fecha de nacimiento</label>
                            <input type="date" name="nacimiento" id="nacimiento" min="1900-01-01" value="<%= locals.oldData ? oldData.nacimiento : "" %>">
                            <div class="danger">  <% if (locals.errors && errors.nacimiento) { %>
                                <%= errors.nacimiento.msg %>
                            <% } %> </div>
                        </div><br>
                    </div>
                </div>
                <div class="rowform">
                    <div class="colform">      
                        <div class="categoria">
                            <label for="domicilio" class="datos">Domicilio</label>
                            <input type="text" name="domicilio" id="domicilio" placeholder=" Av. Gameplay 150" value="<%= locals.oldData ? oldData.domicilio : "" %>">
                            <div class="danger">  <% if (locals.errors && errors.domicilio) { %>
                                <%= errors.domicilio.msg %>
                            <% } %> </div>
                        </div><br>
                    </div>
                    <div class="colform"> 
                        <div class="categoria">
                            <div class="generos">
                                <label for="varon">Varon</label>
                                <input type="radio" name="genero" value="varon" id="varon">
                            </div>
                            <div class="generos">
                                <label for="mujer">Mujer</label>
                                <input type="radio" name="genero" value="mujer" id="mujer">
                            </div>
                            <div class="generos">
                                <label for="otro">Otro</label>
                                <input type="radio" name="genero" value="otro" id="otro">
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="danger">  <% if (locals.errors && errors.genero) { %>
                                <%= errors.genero.msg %>
                            <% } %> </div>
                        </div>
                    </div>
                </div>                            <!-- Div abajo de los datos -->
                    <section class="perfilusuario">
                        <div class="intereses">
                            <h4>Intereses</h4>
                            <div>
                                <input type="checkbox" name="intereses" value="a" id="a">
                                <label for="a">Anime</label>
                            </div>
                            <div>
                                <input type="checkbox" name="intereses" value="b" id="b">
                                <label for="b">Accion</label>
                            </div>
                            <div>
                                <input type="checkbox" name="intereses" value="c" id="c">
                                <label for="c">Deporte</label>
                            </div>
                            <div>
                                <input type="checkbox" name="intereses" value="d" id="d">
                                <label for="d">RPG</label>
                            </div>
                            <div>
                                <input type="checkbox" name="intereses" value="e" id="e">
                                <label for="e">Social</label>
                            </div>
                        </div>
                        <div class="danger">  <% if (locals.errors && errors.intereses) { %>
                            <%= errors.intereses.msg %>
                        <% } %> </div>
                    </section>
                <div class="rowform">
                    <div class="colform">
                        <div class="categoria">
                            <label for="contrasenia">Contraseña</label>
                            <input type="password" name="contrasenia" id="contrasenia" placeholder=" ********">
                            <div class="danger">  <% if (locals.errors && errors.contrasenia) { %>
                                <%= errors.contrasenia.msg %>
                            <% } %> </div>
                        </div><br>
                    </div>
                    <div class="colform">
                        <div class="categoria">
                            <label for="password">Confirme contraseña</label>
                            <input type="password" name="contrasenia" id="contrasenia" placeholder=" ********">
                            <div class="danger">  <% if (locals.errors && errors.contrasenia) { %>
                                <%= errors.contrasenia.msg %>
                            <% } %> </div><br>
                        </div>
                    </div>
                </div>
                <div class="rowform2">    
                    <div class="tyc">
                        <input type="checkbox" name="condiciones" value="condiciones" id="condiciones" >
                        <label for="condiciones">Estoy de acuerdo con los <s>Términos y Condiciones</s></label>
                    </div>
                    <div class="danger">  <% if (locals.errors && errors.condiciones) { %>
                        <%= errors.condiciones.msg %>
                    <% } %> </div><br><br>
                </div>
                    <div>
                        <button type="submit" class="registerbutton">REGISTRATE</button>
                    </div><br>
                    
                </form>
        </div>
    </div>
    </main>
    <%- include ('../partials/footer.ejs') %>
</body>

</html>