<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/all_head.ejs')%>
    <link rel="stylesheet" href="/css/productCart.css">
    <title>GamePlay - Carrito</title>
</head>

<body>
    <header>
    <%- include('../partials/all_header.ejs') %>
    </header>
    <!-- Breadcrumb Start -->
    <main class="cart">
        <div class="breadcrumb">
            <nav class="breadcrumb bg-light mb-30">
                <a class="level-01" href="/">Inicio > </a>
                <a class="level-02" href="/">Shop > </a>
                <span class="active">Carrito</span>
            </nav>
        </div>
        <!-- Breadcrumb End -->
        <% if (products.length>0) {%> <form action="/usuarios/carrito/<%= products[0].order_id %>?_method=PUT" method="POST">
        <% }else{ %>  <form action="/productos" method="GET"> <% } %> 
        <!-- Cart Details Start -->
            <div class="product-details">

            <!-- Cart Products Start -->
                <div class="cart-products">
                    <div class="cart-products-title">
                        <h2>Productos añadidos</h2>
                    </div>
                    <div class="product-list-general">

                        <% if (products.length > 0 ) { %> 
                            <% for (let item  of products) {%>
                                <div class="cart-products-item" id="item-<%=products.indexOf(item)%>">
                                    <input id="id" name="product_id" type="hidden" value="<%= item.product_id %>">
                                    <div class="cart-picture">
                                        <img class="main-pic" src="<%= item.Product.image_url %>" alt="imagen de producto">
                                    </div> 
                                    <div class="cart-name-price-qty">
                                        <div class="product-name">
                                            <h3 class="name"><%= item.Product.product_name %></h3>
                                        </div>
                                        <div>
                                            <p class="regular-price" id="price">$<%= item.price.toLocaleString('es-Ar') %></p>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button class="minus-button" type="button"> - </button>
                                            </div>
                                            <input type="text" name="quantity" class="form-control" id="quantity" value="<%= item.quantity %>">
                                            <div class="input-group-btn">
                                                <button class="plus-button" type="button"> + </button>
                                            </div>
                                        </div>
                                        <div class="cart-erase-button">
                                            <a href="javascript:alert('Tu producto será borrado del carrito, deseas continuar?');"><button class="erase-button" type="button">x</button></a>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } else {%>
                            Es hora de que compres algo!
                        <% } %> 

                    </div>    
                </div>
                <!-- Cart Products End -->

                <!-- Cart Resume Start -->
                <div class="cart-resume">
                    <div class="resume-title">
                        <h2>Resumen</h2>
                    </div>
                    <div class="resume-pricing">
                        <div class="total-price">
                            <div class="total-price-label">
                                <h4>Precio (x items)</h4>
                            </div>
                            <div class="total-price-number">
                                <p>$<%= total.toLocaleString('es-Ar') %> </p>
                            </div>
                        </div>
                        <div class="transport-charges">
                            <div class="transport-charges-label">
                                <h4>Costo por envío</h4>
                            </div>
                            <div class="transport-charges-number">
                                <p>$2.000</p>
                            </div>
                        </div>
                        <div class="final-price">
                            <div class="final-price-label">
                                <h4>Precio Total</h4>
                            </div>
                            <div class="final-price-number">
                                <p>$<%= (total + 2000).toLocaleString('es-Ar') %> </p>
                            </div>
                        </div>
                    </div>
                    <div class="resume-buttons">
                        <div class="keep-buying">
                            <a href="/productos"><button type="button"class="keep-buying-button">CONTINUAR COMPRANDO</button></a>
                        </div>
                        <div class="go-to-checkout">
                            <button class="go-to-checkout-button" type="submit">FINALIZAR PEDIDO</button>
                        </div>
                    </div>
                </div>
                <!-- Cart Resume End -->
            </div>
            <!-- Cart Details End -->
        </form>
    </main>

    <%- include ('../partials/all_footer.ejs') %>
    <script src="/js/userShoppingCart.js"></script>

</body>

</html>