<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/all_head') %>
    <link rel="stylesheet" href="/css/index.css">
    <title>GamePlay - <%= title %></title>
</head>

<body>
    <header>
    <%- include('../partials/all_header') %>
    </header>
    <section class="main">
        <span>- 
        <% for (let page = 1; page <= pageCount; page++) { %>
            <a href="<%= url %>&page=<%= page %> "><%= page %></a> - 
        <% } %> 
        </span>
        <h4 class="titulo"><%= title %></h4>
        <section class="productos">
        <% if (products.length === 0) { %>
            Ups... No hay nada por aquí
        <% } else { %>
            <% for (let product of products){ %>
                <%- include ('../partials/product_example',{product}) %>
            <% } %> 
        <% } %>
        </section>
        <span>- 
            <% for (let page = 1; page <= pageCount; page++) { %>
                <a href="<%= url %>&page=<%= page %> "><%= page %></a> - 
            <% } %> 
        </span>
    </section>

    <%- include ('../partials/all_footer') %>
</body>

</html>